/* In this doc I have displayed the most important styles used on our webpage*/

body {
    background: #aec1c488;
}

.container {
    margin-left: initial;
}

/* Headers*/
h3{
    font-weight: 700;
    text-indent: center;
}

h5{
  font-weight: 700;
}

/* Paragraphs*/
p {
    color: rgb(22, 76, 90);
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

p1 {
    color: rgb(20, 109, 121);
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }